{% extends 'base.html.twig' %}
{% block content %}

<div class="container">
    <h1 class="book-title">
        {{ book.title }}
    </h1>

    <div class="top-info">
        <h2 class="author">
            By {{ book.author }}
        </h2>
        <p id="bookId">
            {{ book.id }}
        </p>
        <h3>
            Genre Category and rating
        </h3>
        <form id="book-add-form" method="{{ form.vars.method }}" action="{{ form.vars.action }}">
            <div class="form-row">
                {{ form_widget(form) }}
            </div>
            {{ form_end(form) }}
        </form>
    </div>

    <div class="subcontainer">
        <div>
            <img loading="lazy" src="{{ book.bookCover }}" alt="Image of trending books">
        </div>
        <p>
            {{ book.summary }}
        </p>

    </div>

    <!-- <div class="review"> -->
    <div>
        <!--<div class="review1">
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <h3>Name of the reviewer</h3>
            <b>05/05/2023</b>
            <p>Dit is de enige universiteit in België die nog dierproeven op apen uitvoert. Schaam je diep! Dit geldt zowel voor het instituut zelf als de mensen die de dierproeven uitvoeren. Een diploma van een dergelijk instituut is niets waard.</p>
        </div>-->
        <form id="book-review-form" method="{{ form2.vars.method }}" action="{{ form2.vars.action }}">
            <div class="form-row">
                {{ form_widget(form2) }}
            </div>
            {{ form_end(form2) }}
        </form>
    </div>
</div>

    <script src="{{ asset('js/addToFavorites.js') }}"></script>
{% endblock %}