{% extends 'base.html.twig' %}
{% block content %}

<div class="container">
    <h1 class="book-title">
        {{ book.title }}
    </h1>

    <div class="top-info">
        <h2 class="author">
            By {{ book.author }}
        </h2>
        <p id="bookId">
            {{ book.id }}
        </p>
        <h3>
            Genre Category and rating
        </h3>
        {% if logged %}
        <form id="book-add-form" method="{{ form.vars.method }}" action="{{ form.vars.action }}">
            <div class="form-row">
                {{ form_widget(form) }}
            </div>
            {{ form_end(form) }}
        </form>
        {% endif %}
    </div>

    <div class="subcontainer">
        <div>
            <img loading="eager" src="{{ book.bookCover }}" alt="Image of trending books">
        </div>
        <p>
            {{ book.summary }}
        </p>

    </div>

    <div class="reviews">
        <div id="reviewDisplay" class="review-container">

        </div>

        <form id="book-review-form" method="{{ form2.vars.method }}" action="{{ form2.vars.action }}">
            <div class="form-row">
                {{ form_widget(form2) }}
            </div>
            {{ form_end(form2) }}
        </form>

    </div>
</div>

    <!-- Include the JavaScript files -->
    <script src="{{ asset('js/getReviews.js') }}"></script>

    <script src="{{ asset('js/addToFavorites.js') }}"></script>
{% endblock %}