<!DOCTYPE html>
<html lang="eng">
<head>
    <title>WebTech Project</title>
    <link rel="icon" href="{{ asset('images/bookIcon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="keywords" content="webtech Project">
    <meta name="description"
          content="This is the project for the course webtech, made by group 32">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    {% for stylesheet in stylesheets %}
        <link href="{{ asset('css/' ~ stylesheet) }}" rel="stylesheet" type="text/css">
    {% endfor %}
</head>
<body style="background-image: url('{{ asset('img/books.jpg') }}')">
    <div class="container-login">
            <section class="login">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </section>
        {% if error is defined %}
            <p id="message">{{ error }}</p>
        {% endif %}
            <p id="switch">Don't have an account? <a href="{{ path('register') }}">Register here</a></p>
    </div>
</body>
</html>

<script src="{{ asset('js/passwordCheckbox_login.js') }}"></script>