{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <section class="favourites">
            <div class="favourite-text">
                <h1>OUR FAVORITES</h1>
                <p>Unsure what to read next? Some of the most trending books last month!</p>
            </div>
            <div class="favourite-img">
                <img src="{{ asset('images/bookcover2.jpeg') }}" alt="Image of trending books">
                <img src="{{ asset('images/bookcover2.jpeg') }}" alt="Image of trending books">
                <img src="{{ asset('images/bookcover2.jpeg') }}" alt="Image of trending books">
                <img src="{{ asset('images/bookcover2.jpeg') }}" alt="Image of trending books">
            </div>


        </section>

{#        <div class="form-container">#}
{#            {{ form_start(form) }}#}
{#            <div class="form-row">#}
{#                {{ form_widget(form) }}#}
{#            </div>#}
{#            {{ form_end(form) }}#}
{#        </div>#}

        <div class="form-container">
            <form id="book-search-form" method="{{ form.vars.method }}" action="{{ form.vars.action }}">
                <div class="form-row">
                    {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
{#                <button type="submit">Search</button>#}
            </form>
        </div>


        <!-- Include the JavaScript files -->
        <script src="{{ asset('js/search.js') }}"></script>




        <div class="main-part">
            <aside class="filters">
                <div class="sticky-filter">
                    <h1>Filter by category</h1>
                    <form>
                        <div class="checkboxes">
                            <label>
                                <input type="checkbox" name="category" value="fiction"> Fiction
                            </label>
                            <label>
                                <input type="checkbox" name="category" value="non-fiction"> Non-Fiction
                            </label>
                            <label>
                                <input type="checkbox" name="category" value="biography"> Biography
                            </label>
                            <label>
                                <input type="checkbox" name="category" value="history"> History
                            </label>
                            <label>
                                <input type="checkbox" name="category" value="self-help"> Self-Help
                            </label>
                            <label>
                                <input type="checkbox" name="category" value="travel"> Travel
                            </label>
                        </div>
                    </form>

                    <h1>Filter by Rating</h1>
                    <form>
                        <div class="checkboxes">
                            <label>
                                <input type="checkbox" name="rating" value="very good"> Very good
                            </label>
                            <label>
                                <input type="checkbox" name="rating" value="good"> Good
                            </label>
                            <label>
                                <input type="checkbox" name="rating" value="mediocre"> Mediocre
                            </label>
                        </div>
                    </form>

                    <h1>Filter by genre</h1>
                    <form>
                        <div class="checkboxes">
                            <label>
                                <input type="checkbox" name="genre" value="romance"> Romance
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="mystery"> Mystery
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="fantasy"> Fantasy
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="sci-fi"> Science Fiction
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="horror"> Horror
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="thriller"> Thriller
                            </label>
                        </div>
                    </form>
                </div>
            </aside>


            <section class="book-listings-section">
                <h1 class="title-browse-books">Browse books</h1>
                <div class="book-listings" id="books">
                    {% if books is defined %}
{#                        {% for book in books %}#}
{#                            <div class="book">#}
{#                                <img src="{{book.bookCover}}" alt="Entity Image">#}
{#                                <div>#}
{#                                    <h2>{{ book.Title }}</h2>#}
{#                                    <p>By {{ book.Author }}</p>#}
{#                                    <p>Genre: {{ book.genres }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
                        {% for row in books %}
                            <div id="books-container">
{#                                <h2>{{ row.title }}</h2>#}
{#                                <p>Genres: {{ row.genres }}</p>#}
{#                                <!-- Access other fields as needed -->#}

                                <div class="book">
                                    <img loading="lazy" src="{{row.book_cover}}" alt="Entity Image">
                                    <div>
                                        <h2>{{ row.title }}</h2>
                                        <p>By {{ row.author }}</p>
                                        <p>Genre: {{ row.genres }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}