{% extends 'base.html.twig' %}
{% block content %}

<div class="container">
    <h1 class="title">
        Settings
    </h1>
    <div class="subcontainer">
        <aside class="setting-opt">
            <ul class="settings-list">
                <li><button class="normalButton" onClick="document.getElementById('personal-information').scrollIntoView()">Personal information</button></li>
                <li><button class="normalButton" onClick="document.getElementById('preferences').scrollIntoView()">Preferences</button></li>
                <li><button class="normalButton" onClick="document.getElementById('security').scrollIntoView()">Security/Privacy</button></li>
            </ul>
        </aside>
        <section>
            <div class="profile-update">
                <div class="main-info">
                    <button class="imgButton">
                        <img src="data:image/png;base64,{{ profilePicture }}" alt="Profile Picture">
                    </button>

                    <div class="name">
                        <h2>{{ displayName }}</h2>
                        <h3>Update your photo and personal data</h3>
                    </div>
                </div>
            </div>
                <h2 id="personal-information">Personal information</h2><br>
                {{ form_start(personalInfo) }}
                {{ form_widget(personalInfo) }}
                {{ form_end(personalInfo)   }}
                <h2 id="preferences">Preferences</h2><br>
                {{ form_start(preferences) }}
                {{ form_widget(preferences ) }}
                {{ form_end(preferences)   }}
                <h2 id="security">Security/Privacy</h2><br>
                {{ form_start(securityPrivacy) }}
                {{ form_widget(securityPrivacy) }}
                {{ form_end(securityPrivacy) }}
        </section>
    </div>
</div>

    <script src="{{ asset('js/passwordCheckbox_profile.js') }}"></script>
{% endblock %}