{% extends 'base.html.twig' %}
{% block content %}

<div class="container">
    <h1 class="title">
        Settings
    </h1>
    <div class="subcontainer">
        <aside class="setting-opt">
            <ul class="settings-list">
                <li><button class="normalButton" onClick="document.getElementById('personal-information').scrollIntoView()">Personal information</button></li>
                <li><button class="normalButton" onClick="document.getElementById('preferences').scrollIntoView()">Preferences</button></li>
                <li><button class="normalButton" onClick="document.getElementById('security').scrollIntoView()">Security/Privacy</button></li>
            </ul>
        </aside>
        <section>
            <div class="profile-update">
                <div class="main-info">
                    <button class="imgButton">
                        <img src="data:image/png;base64,{{ profilePicture }}" alt="Profile Picture">
                    </button>

                    <div class="name">
                        <h2>{{ displayName }}</h2>
                        <h3>Update your photo and personal data</h3>
                    </div>
                </div>
            </div>
            <form>
                <h2 id="personal-information">Personal information</h2><br>
                <div class="form-item">
                    <label for="first-name">First name: {{ firstName }}</label>
                    <input type="text" id="first-name" name="first-name"><br>
                    <label for="last-name">Last name: {{ lastName }}</label>
                    <input type="text" id="last-name" name="last-name"><br>
                    <label for="display-name">Display name: {{ displayName }}</label>
                    <input type="text" id="display-name" name="display-name"><br>
                </div>
                <div class="form-item">
                    <label for="email">Email: {{ email }}</label>
                    <input type="email" id="email" name="email"><br>
                </div>
                <div class="form-item">
                    <label for="bio">Bio:</label>
                    <textarea id="bio" name="bio" rows="4" cols="50"></textarea><br>
                </div>
                <div class="form-item">
                    <label for="address">Street: {{ street }}</label>
                    <input type="text" id="street" name="street"><br>
                    <label for="city">City: {{ city }}</label>
                    <input type="text" id="city" name="city"><br>
                    <label for="postal-code">Postal code: {{ postalCode }}</label>
                    <input type="text" id="postal-code" name="postal-code"><br>
                </div>
                <input type="submit" value="Save" class="save-button-info">
            </form>
            <form>
                <h2 id="preferences">Preferences</h2><br>
                <div class="form-item">
                <label for="preference1">
                    <input type="checkbox" id="preference1" name="preferences" value="preference1">
                    Preference 1
                </label><br>

                <label for="preference2">
                    <input type="checkbox" id="preference2" name="preferences" value="preference2">
                    Preference 2
                </label><br>

                <label for="preference3">
                    <input type="checkbox" id="preference3" name="preferences" value="preference3">
                    Preference 3
                </label>
                </div>
                <input type="submit" value="Save" class="save-button-pref">
            </form>
                <form>
                    <h2 id="security">Security/Privacy</h2><br>
                    <label for="password">Password (8 characters minimum):</label>
                    <input type="password" id="password" name="password" minlength="8" required style="width: 20em; margin-right: 10px">
                    <input type="submit" value="Save" class="save-button-pass"><br>
                    <label>
                        <input type="checkbox" onclick="myFunction()">
                    </label>Show Password
                    <script>
                        function myFunction() {
                            const x = document.getElementById("password");
                            if (x.type === "password") {
                                x.type = "text";
                            } else {
                                x.type = "password";
                            }
                        }
                    </script>
                </form>
        </section>
    </div>
</div>

{% endblock %}