<!DOCTYPE html>
<html>
<head>
    <title>Reading list</title>
</head>
<body>
<h1>Reading list</h1>

{% if list is null or list[0]|length == 0 %}
    <p>There are no books in the reading list.</p>
{% else %}
    <table>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Summary</th>
            <th>Author</th>
        </tr>
        {% for index in 0..(list[0]|length - 1) %}
            <tr Onclick="switchPage( '/book-info/{{ list[0][index] }}' )">
                <td><img src="{{ list[4][index] }}" alt="cover" ></td>
                <td>{{ list[1][index] }}</td>
                <td>{{ list[2][index] }}</td>
                <td>{{ list[3][index] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>

<script src="{{ asset('js/openBookPage.js') }}"></script>
